.row {
  @media (min-width: $breakpoint) {
    display: flex;
    align-items: flex-end;
  }

  &__col {
    @media (min-width: $breakpoint) {
      flex-shrink: 0;
    }

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 2);
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 10 - #{$col-gap-d});
      }
    }
  }
}