extends ../layouts/master.pug


block content 
  section.section.section--first.section--black 
    .container 
      .row 
        .row__col
          .label.label--light
            |[qqq]  
        .row__col
          .title.title--light
            |WWWW  