// fonts

$fs: 16px;

$ff-main: 'SuisseIntl', sans-serif;
$ff-alt: 'RobotoMono', sans-serif;

@mixin f-main($font-weight: 400) {
  font-weight: $font-weight;
  font-family: $ff-main;
}

@mixin f-alt($font-weight: 500) {
  font-weight: $font-weight;
  font-family: $ff-alt;
}

@mixin fsl($font-size, $line-height: null) {
  font-size: unquote('#{$font-size / $fs}rem');
  @if $line-height {
    line-height: $line-height / 100%;
  }
}

// media breakpoints
$breakpoint-xs: 375px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint: 1280px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;

// color vars
:root {
  --color-primary: #0E1010;
  --color-secondary: #D8F3F5;
  --color-bg: #BDE4E7;
  --color-gray: #232727;
}

$transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
$transition-duration: .5s;
$transition: $transition-duration $transition-timing-function;


// grid columns
$col-count-m: 4;
$col-count-d: 12;

$col-pad-m: 16px;
$col-pad-d: 32px;

$col-gap-m: 20px;
$col-gap-d: 40px;

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder{
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::placeholder  {
    @content;
  }
}

@mixin scrollbar-hidden() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}