include ../components/header
include ../components/footer

include ../components/svg

include ../components/grid-test

doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title team
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")


  body
    +grid-test
    .wrapper
      block header
        +header

      main.main
        block content

      block footer
        +footer