ul.pager
    li.pager__item.previous
        a.pager__link.arr(href='#')
            i &lt;
        span Previous Post
    li.pager__item.next
        a.pager__link.arr(href='#')
            i &gt;
        span Next Post
